@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* body {
  background-color: #10B582;
}
* header {
  width: 50%;
  margin: 0 auto;
  align-items: center;
}
* header .nav {
  background-color: #10B582;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;
  align-items: center;
}
* header .nav a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #FDFDFD;
}
* .main_page {
  background-color: #10B582;
  width: 95%;
  height: 700px;
  margin: 0 auto;
  border: solid #10B582;
}
* .main_page .social {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 22px;
  height: 126px;
  margin-top: 150px;
  left: 3%;
  flex-direction: column;
}
* .main_page .content_img_1 {
  position: absolute;
  right: 3%;
  background-color: #10B582;
  margin-top: 50px;
  border: solid;
  width: 270px;
}
* .main_page .content_img_2 {
  margin-top: 300px;
  position: absolute;
  left: 3%;
  width: 270px;
}
* .main_page .logo {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 140px;
  margin-top: 150px;
}
* .main_page .main_content {
  width: 600px;
  height: 230px;
  margin: 0 auto;
  margin-top: 40px;
  border: solid;
}
* .main_page .main_content .text_1 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  color: #FDFDFD;
}
* .main_page .main_content .text_2 p {
  margin-top: 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FDFDFD;
}
* .main_page button {
  border: none;
  position: absolute;
  width: 230px;
  height: 56px;
  left: 41%;
  top: 550px;
  background: #FA9F42;
  border-radius: 0px 20px;
}
* .second_page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #FDFDFD;
  margin-top: 95px;
  padding-bottom: 10%;
  margin-top: 5%;
  border: solid #fff;
}
* .second_page .block_1 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: solid #fff;
  margin-top: 95px;
  width: 95%;
}
* .second_page .block_1 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #10B582;
}
* .second_page .block_1 p span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  color: #353A5A;
}
* .second_page .block_2 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
* .second_page .block_2 .left_content {
  width: 500px;
  margin-top: 120px;
}
* .second_page .block_2 .left_content h2 {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
* .second_page .block_2 .left_content p {
  width: 500px;
  height: 159px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353A5A;
}
* .second_page .block_2 .left_content button {
  margin-top: 50px;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FDFDFD;
  background: #10B582;
  border-radius: 0px 20px;
  width: 230px;
  height: 56px;
  left: 135px;
  top: 1499px;
}
* .second_page .right_content {
  margin-top: 100px;
  width: 800px;
  justify-content: space-between;
}
* .second_page .right_content p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #353A5A;
}
* .second_page .right_content .right_1 {
  display: flex;
  justify-content: space-between;
}
* .second_page .right_content .right_2 {
  display: flex;
  justify-content: space-between;
}
* .third_page {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  height: 100%;
  background-color: #10B582;
  margin-bottom: 5%;
}
* .third_page .left_content_2 {
  margin-top: 123px;
  width: 500px;
  height: 362px;
  left: 135px;
  top: 1859px;
}
* .third_page .right_content_2 {
  margin: 0 auto;
  margin-top: 150px;
  width: 550px;
}
* .third_page .right_content_2 h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #FDFDFD;
}
* .third_page .right_content_2 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FDFDFD;
}
* .third_page .right_content_2 button {
  margin-top: 50px;
  border: none;
  width: 230px;
  height: 56px;
  left: 735px;
  top: 2165px;
  background: #FA9F42;
  border-radius: 0px 20px;
}
* .fourth_page {
  width: 100%;
  height: 90vh;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 5%;
}
* .fourth_page .title {
  margin: 0 auto;
  width: 38%;
  margin-top: 5%;
}
* .fourth_page .title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
* .fourth_page .photo {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin-top: 5%;
}
* .fourth_page .photo .motion {
  width: 255px;
  height: 200px;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
* .fourth_page .photo .motion .motion_img {
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}
* .fourth_page .photo .target {
  width: 255px;
  height: 200px;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
* .fourth_page .photo .target .target_img {
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}
* .fourth_page .photo .present {
  width: 255px;
  height: 200px;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
* .fourth_page .photo .present .present_img {
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}
* .fourth_page .photo .smm {
  width: 255px;
  height: 200px;
  align-items: center;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
* .fourth_page .photo .smm .smm_img {
  margin: 0 auto;
  margin-top: 5%;
  width: 90%;
  height: 90%;
}
* .fourth_page .button {
  margin: 0 auto;
  width: 230px;
  margin-top: 5%;
}
* .fourth_page .button button {
  background: none;
  border-radius: 0px 20px;
  border: none;
  margin: 0 auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FDFDFD;
  width: 230px;
  height: 56px;
  left: 605px;
  top: 2865px;
  /* green */
  background: #10B582;
  border-radius: 0px 20px;
}
* .fifth_page {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 60vh;
  background-image: url(../../img/fifth_page.jpg);
  background-position: center;
  background-size: cover;
}
* .fifth_page .left_content_5 {
  width: 35%;
  height: 300px;
  position: absolute;
  right: 10%;
  margin-top: 5%;
}
* .fifth_page .left_content_5 h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #353A5A;
}
* .fifth_page .left_content_5 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-feature-settings: "pnum" on, "lnum" on;
  /* dark */
  color: #353A5A;
}
* .fifth_page .left_content_5 button {
  width: 230px;
  height: 56px;
  border: none;
  background: #FA9F42;
  border-radius: 0px 20px;
  margin-top: 10%;
}
* .footer_main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 100px;
}
* .footer_main .footer_content {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #353A5A;
  border-top: 1px solid #353A5A;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 50px;
}
* .footer_main .footer_content .footer_left {
  height: 100%;
  width: 18%;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 5%;
}
* .footer_main .footer_content .footer_left .social_img {
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10%;
}
* .footer_main .footer_content .footer_right {
  width: 66%;
  height: 150px;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
* .footer_main .footer_content .footer_right .learn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .footer_main .footer_content .footer_right .learn p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .learn a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .footer_main .footer_content .footer_right .about p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .about a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .footer_main .footer_content .footer_right .contact p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .contact a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .question {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .footer_main .footer_content .footer_right .question p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .footer_main .footer_content .footer_right .question a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
* .policy {
  width: 80%;
  height: 50px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
* .policy .left_policy {
  width: 50%;
}
* .policy .left_policy a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  font-size: 14px;
}
* .policy .right_policy {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
* .policy .right_policy a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  font-size: 14px;
}

@media (max-width: 1104px) {
  .main_page .main_content .text_1 p {
    font-size: 50px;
  }

  .main_page .main_content .text_2 p {
    font-size: 14px;
  }

  .main_page .content_img_1 img {
    max-width: 60%;
  }

  .main_page .content_img_2 img {
    max-width: 60%;
  }
}
@media (max-width: 1020px) {
  .main_page .main_content .text_1 p {
    font-size: 35px;
  }

  .main_page .content_img_1 img {
    max-width: 30%;
  }

  .main_page .content_img_2 img {
    max-width: 30%;
  }
}
@media (max-width: 990px) {
  .main_page .main_content .text_1 p {
    font-size: 25px;
  }

  .main_page .content_img_1 img {
    max-width: 20%;
  }

  .main_page .content_img_2 img {
    max-width: 20%;
  }
}
@media (max-width: 990px) {
  .nav a {
    font-size: 10px;
  }
}
.courses_main {
  background-color: #fff;
  height: 100%;
  border: solid #fff;
  padding-bottom: 10%;
}
.courses_main header {
  width: 80%;
  height: 70px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses_main header .nav_courses {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.courses_main header .nav_courses a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.courses_main .courses_content_1 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 6%;
}
.courses_main .courses_content_1 h2 {
  width: 92%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.courses_main .courses_content_1 .courses_1pic {
  margin: 0 auto;
  margin-top: 4%;
}
.courses_main .courses_content_1 .courses_content {
  margin: 0 auto;
  margin-top: 6%;
}
.courses_main .courses_content_1 .courses_content h3 {
  width: 70%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.courses_main .courses_content_1 .courses_content p {
  width: 76%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353A5A;
}
.courses_main .courses_numbers {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 8%;
  width: 80%;
}
.courses_main .courses_numbers p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #10B582;
}
.courses_main .courses_numbers p span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  color: #353A5A;
}

.container_1 {
  width: 100%;
  background-color: #10B582;
  border: solid #10B582;
  margin-bottom: 2%;
}
.container_1 .courses_2page {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #10B582;
  margin-top: 2%;
}
.container_1 .courses_2page .page2_left {
  height: 100%;
  margin-top: 10%;
  width: 50%;
}
.container_1 .courses_2page .page2_left h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #FDFDFD;
}
.container_1 .courses_2page .page2_left p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FDFDFD;
}
.container_1 .courses_2page .page2_left button {
  margin-top: 7%;
  border: none;
  width: 230px;
  height: 56px;
  background: #FA9F42;
  border-radius: 0px 20px;
}
.container_1 .courses_2page .page2_right {
  margin-top: 6%;
}

.container_3 {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 8%;
}
.container_3 .courses_3page {
  margin-top: 10%;
  border: solid #fff;
}
.container_3 .courses_3page .courses_title {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}
.container_3 .courses_3page .courses_title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 7%;
}
.container_3 .courses_3page .courses_choise .choise_1 {
  width: 52%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_3 .courses_3page .courses_choise .choise_1 .choise_1_img {
  display: flex;
}
.container_3 .courses_3page .courses_choise .choise_1 .choise_1_img h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_1 .choise_1_text {
  width: 75%;
  margin-top: 10px;
}
.container_3 .courses_3page .courses_choise .choise_1 .choise_1_text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_2 {
  width: 52%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_3 .courses_3page .courses_choise .choise_2 .choise_2_img {
  display: flex;
}
.container_3 .courses_3page .courses_choise .choise_2 .choise_2_img h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_2 .choise_2_text {
  margin-top: 10px;
  width: 75%;
}
.container_3 .courses_3page .courses_choise .choise_2 .choise_2_text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_3 {
  width: 52%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_3 .courses_3page .courses_choise .choise_3 .choise_3_img {
  display: flex;
}
.container_3 .courses_3page .courses_choise .choise_3 .choise_3_img h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_3 .choise_3_text {
  width: 75%;
  margin-top: 10px;
}
.container_3 .courses_3page .courses_choise .choise_3 .choise_3_text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_4 {
  width: 52%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_3 .courses_3page .courses_choise .choise_4 .choise_4_img {
  display: flex;
}
.container_3 .courses_3page .courses_choise .choise_4 .choise_4_img h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 .courses_3page .courses_choise .choise_4 .choise_4_text {
  width: 75%;
  margin-top: 10px;
}
.container_3 .courses_3page .courses_choise .choise_4 .choise_4_text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_3 button {
  border: none;
  width: 230px;
  height: 56px;
  left: 605px;
  top: 2473px;
  background: #10B582;
  border-radius: 0px 20px;
  margin-left: 38%;
  margin-top: 5%;
}

.container_4 {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 60vh;
  background-image: url(../../img/courses_backgroung.png);
  background-position: center;
  background-size: cover;
}
.container_4 .courses_4_page {
  width: 35%;
  height: 300px;
  position: absolute;
  right: 10%;
  margin-top: 5%;
}
.container_4 .courses_4_page h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #353A5A;
}
.container_4 .courses_4_page p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_4 .courses_4_page button {
  width: 230px;
  height: 56px;
  border: none;
  background: #FA9F42;
  border-radius: 0px 20px;
  margin-top: 10%;
}

.container_5 {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.container_5 .courses_5_page {
  width: 62%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container_5 .courses_5_page .question_page_title {
  width: 100%;
  margin: 0 auto;
}
.container_5 .courses_5_page .question_page_title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_1 {
  margin-top: 5%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_5 .courses_5_page .question_1 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_1 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_2 {
  margin-top: 5%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_5 .courses_5_page .question_2 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_2 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_3 {
  margin-top: 5%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_5 .courses_5_page .question_3 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_3 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_4 {
  margin-top: 5%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_5 .courses_5_page .question_4 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_4 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_5 {
  margin-top: 5%;
  background: #FDFDFD;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.container_5 .courses_5_page .question_5 h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}
.container_5 .courses_5_page .question_5 p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #353A5A;
}

.footer_main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 100px;
}
.footer_main .footer_content {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #353A5A;
  border-top: 1px solid #353A5A;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 50px;
}
.footer_main .footer_content .footer_left {
  height: 100%;
  width: 18%;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 5%;
}
.footer_main .footer_content .footer_left .social_img {
  opacity: 0.3;
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10%;
}
.footer_main .footer_content .footer_left .footer_right {
  width: 66%;
  height: 150px;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
.footer_main .footer_content .footer_left .footer_right .learn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_content .footer_left .footer_right .learn p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .learn a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_content .footer_left .footer_right .about p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .about a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_content .footer_left .footer_right .contact p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .contact a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .question {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_content .footer_left .footer_right .question p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .footer_content .footer_left .footer_right .question a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
}
.footer_main .policy {
  width: 80%;
  height: 50px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.footer_main .policy .left_policy {
  width: 50%;
}
.footer_main .policy .left_policy a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  font-size: 14px;
}
.footer_main .policy .right_policy {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.footer_main .policy .right_policy a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #353A5A;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
